## Build results
bin/
obj/
[Bb]in/
[Oo]bj/

## Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / JetBrains
.idea/
*.DotSettings.user

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Logs
*.log

## Test results
TestResults/
*.trx

## Publish output
publish/
*.publish.xml

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

## EF Core
Migrations/*Designer.cs
Migrations/*.Snapshot.cs

## OS files
.DS_Store
Thumbs.db

